/* 0 VARIABLES */

:root {
    --m-body-padding: 20px;
    --t-body-padding: 40px;

    /* Breakpoints */
    --max-width: 1200px;
    --optimap-width: 1000px;

    --font-multiplier: 1.04;
    --font-responsivness: 3.3vw;



    /* Do not touch this! */

    --padding-from-edge: calc((100vw - var(--optimap-width))/2);


}

/* 1 DEFAULT BROWSER CLEAROUT */
html,
body {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;

    /* Display inline from top to bottom */
    display: grid;



}


/* 2 COMMONLY USED THINGS   */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.all-center * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding {
    padding: 10px;
}

.padding-large {
    padding: 20px;
}



.fullscreen {
    /* ? Nebylo přidáno do official besamel */
    height: 100vh;
    width: 100vw;
}


.fullwidth {
    /* ? Nebylo přidáno do official besamel */
    width: 100vw;
}

.always-on-top {
    /* ? Nebylo přidáno do official besamel*/
    position: fixed;
    z-index: 1000;

}


/* ! Přidej někam do official bešamel */
.make-section-bg.to-right {
    right: 0 !important;
    left: unset !important;
}

/* ! Přidej někam do official bešamel */
.make-section-bg.stretch {
    width: 100vw !important;
    height: 100% !important;
}

/* ! Přidej někam do official bešamel */
img.make-section-bg.default {
    width: 100vw !important;
    height: auto !important;
}






/* 3 PAGE LAYOUT */

nav {
    display: grid;
    width: 100%;

}

nav>div {

    display: flex;
    justify-content: space-between;
    align-items: center;
}




.sections>div {
    /* padding: 10px max(var(--m-body-padding) * 2, calc(3vw * 3vw)); */
    position: relative;
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

nav>div {
    /* ! S tímto ještě něco pořeš */
    padding: 0 max(calc((100vw - var(--optimap-width))/2), 25px);

}

.sections>div>.content {
    padding: 0 max(calc((100vw - var(--optimap-width))/2), 25px);
    width: 100%;
}


.make-section-bg {
    pointer-events: none;
    user-select: none;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
}

/* 4 FONT */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: calc(2.5rem * var(--font-multiplier));
}

h2 {
    font-size: calc((2rem) * var(--font-multiplier))
}

h3 {
    font-size: calc((1.75rem) * var(--font-multiplier))
}

h4 {
    font-size: calc((1.5rem) * var(--font-multiplier))
}

h5 {
    font-size: calc((1.25rem) * var(--font-multiplier))
}

h6 {
    font-size: calc((1rem) * var(--font-multiplier))
}

p {
    font-size: calc((1rem) * var(--font-multiplier))
}

.responsive-heading {
    /* font-size: calc(2.5rem * var(--font-multiplier)); */

    font-size: calc((1.4rem + 3.3vw) * var(--font-multiplier));
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}



/* 5 DEFAULT COMPONENTS STYLING */

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0 10px;
}

nav .navbar {
    height: 50px;
}

.carousel {
    width: 100%;


    display: flex;

    overflow-x: scroll;
}

.carousel-small>* {
    height: 200px !important;
}

.carousel-medium>* {
    height: 400px !important;
}

.carousel-large>* {
    height: 600px !important;
}


.image-carousel img {
    width: 100%;
    height: 100%;
    padding: 10px;

}

.carousel::before,
.carousel::after {
    content: "Ahoj";
    position: absolute;

    top: 50%;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;


}

.carousel::before {
    left: var(--padding-from-edge);
}

.carousel::after {
    right: var(--padding-from-edge);
}




/* TODO! tohle vyaz*/
.hero {
    background-color: rgba(255, 0, 0, 0.295);
    height: 600px;
}

/* .hero .content {
    background-color: tomato;
    border-radius: 120px;
    padding: 50px;
} */

.cards-section {
    background-color: blue;
}

#a123 {
    border-radius: 2000px 0 0 2000px;
    width: 45%;
}

.navbar {
    background-color: rgba(187, 238, 238, 0.808);

}

.banner {
    background-color: rgba(231, 222, 91, 0.747);
}


/* Style scrollbar */
.carousel::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.carousel::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
.carousel::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ff0000 0%, #49ff1c 50%, #0004ff 100%);
    border-radius: 150px;
}

/* Handle on hover */
.carousel::-webkit-scrollbar-thumb:hover {
    background: #555;
}