/* 0 VARIABLES */

:root {

    /* Breakpoints */
    --max-width: 1200px;
    --optimap-width: 1000px;

    --font-multiplier: 1.04;
    --font-responsivness: 3.3vw;


    /* Do not touch this! */
    --padding-from-edge: max(
            /* Responsive*/
            calc((100vw - var(--optimap-width))/2),
            /* Minimal */
            40px);



}

/* 1 DEFAULT BROWSER CLEAROUT */
html,
body {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    display: grid;
}

/* Nemám šajna jak to konkrétně upravit, takže pokud by se ti to nelíbilo, 
   nic ti nebrání to změnit na něco rozumnějšího.
   Ondra z minulosti ;-)
*/

img {
    width: 100%;
    height: 100%;
}

/* 2 COMMONLY USED THINGS   */

/* 2.1 Item position */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-center * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 2.2 Custom image bg */
.make-section-bg {
    pointer-events: none;
    user-select: none;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    /* ? Tady si nejsu jistý, jestli to sem patři. 
    Kdyžtak oprav
    Díky, Ondra (z minulosti ;-) )
    */
    height: 100%;
}

.make-section-bg.to-right {
    right: 0 !important;
    left: unset !important;
}

.make-section-bg.stretch {
    width: 100vw !important;
    height: 100% !important;
}

img.make-section-bg.default {
    width: 100vw !important;
    height: auto !important;
}


/* 2.3 Image filters */

.darken {
    filter: brightness(0.7);
}

.darken-more {
    filter: brightness(0.5);
}

/* 2.4 Padding */
.padding {
    padding: 10px;
}

.padding-large {
    padding: 20px;
}





/* 3 PAGE LAYOUT */

/* 3.1 Nav */
nav {
    display: grid;
    width: 100%;
}

nav>div {

    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* 3.2 Sections */
.sections>div {
    position: relative;
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.sections>div>.content {
    margin: 15px var(--padding-from-edge);
    width: 100%;
    z-index: 10;
}

/* 4 TYPOGRAPHY */

body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1rem * var(--font-multiplier));
    line-height: 1.5;
    font-weight: 400;

}

.g-icon {
    font-family: 'Material Icons';
    font-size: 1rem;

}

h1 {
    font-size: calc(2.5rem * var(--font-multiplier));
}

h2 {
    font-size: calc((2rem) * var(--font-multiplier))
}

h3 {
    font-size: calc((1.75rem) * var(--font-multiplier))
}

h4 {
    font-size: calc((1.5rem) * var(--font-multiplier))
}

h5 {
    font-size: calc((1.25rem) * var(--font-multiplier))
}

h6 {
    font-size: calc((1rem) * var(--font-multiplier))
}

p {
    font-size: calc((1rem) * var(--font-multiplier))
}


.responsive-heading {
    /* font-size: calc(2.5rem * var(--font-multiplier)); */

    font-size: calc((1.4rem + 3.3vw) * var(--font-multiplier));
    font-size: clamp(0.2rem, 1.4rem + 3.3vw, 5rem);

}

/* 5 DEFAULT COMPONENTS STYLING */

/* 5.1 Nav bar */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0 10px;
}

/* Nav bar */

nav>.navbar {
    padding: 12px var(--padding-from-edge);
}

nav>.navbar.navbar-medium {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav>.navbar.navbar-large {
    padding-top: 30px;
    padding-bottom: 30px;
}

nav>.banner {
    padding: 4px var(--padding-from-edge);
}


nav .navbar.island {
    margin: 5px var(--padding-from-edge);
    padding: 5px 20px;
}

/* Carousel */
.carousel {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.carousel-small>* {
    height: 200px !important;
}

.carousel-medium>* {
    height: 400px !important;
}

.carousel-large>* {
    height: 600px !important;
}

.image-carousel img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.carousel.with-labels::before,
.carousel.with-labels::after {

    content: "Besamel.css/143";
    position: absolute;
    top: 50%;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.no-wrap {
    flex-wrap: nowrap;
}

/* make the .cards responsive */
.cards>div {
    flex: 1 1 200px;
    margin: 10px;
    width: 200px;

    background-color: red;
}


/* Accordion */
.accordion .accordion-item .accordion-header {
    cursor: pointer;
    width: 100%;
    border: 1px black solid;

    display: flex;

}

.accordion .accordion-item .accordion-header::before {
    font-family: 'Material Icons';
    content: 'mail';
    font-size: 1rem;
    height: 100%;

    transform: rotate(180deg);




    /* This is the code for Google icon */


}





/* TODO! tohle vyaz*/

.cards>div {
    width: 250px !important;
    color: purple;
}


.hero {
    background-color: rgba(255, 0, 0, 0.295);
    height: 600px;
}

/* .hero .content {
    background-color: tomato;
    border-radius: 120px;
    padding: 50px;
} */

.cards-section {
    background-color: blue;
}

#a123 {
    border-radius: 2000px 0 0 2000px;
    width: 45%;
}

.navbar {
    background-color: rgba(187, 238, 238, 0.808);
    padding-top: 15px;
    padding-bottom: 15px;

}

.banner {
    background-color: rgba(231, 222, 91, 0.747);
}



.footer-section {
    background-color: darkcyan;
}

.footer-paloma {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer-paloma>div {
    flex: 1 1 250px;
}

.footer-paloma h3,
.footer-paloma h4,
.footer-paloma h5 {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.footer-paloma .icon {
    padding-right: 5px !important;
}

.accordion-section {
    background-color: dodgerblue;
}

.test {
    background-color: tomato;
    border: 1px solid black;
}