/* Test */
* {
    box-sizing: border-box;
}

/* 0 VARIABLES */

:root {

    /* Breakpoints */
    --max-width: 1200px;
    --optimap-width: 1000px;

    --font-multiplier: 1.04;
    --font-responsivness: 3.3vw;


    /* Do not touch this! */
    --padding-from-edge: max(
            /* Responsive*/
            calc((100vw - var(--optimap-width))/2),
            /* Minimal */
            40px);

    --main-part-width: calc(100vw - 2 * var(--padding-from-edge));



}

/* 1 DEFAULT BROWSER CLEAROUT */
html,
body {
    padding: 0;
    margin: 0;
}

body {
    /* width: 100vw; */
    /* overflow-x: hidden; */
    display: grid;
}

/* TODO Nemám šajna jak to konkrétně upravit, takže pokud by se ti to nelíbilo, 
   nic ti nebrání to změnit na něco rozumnějšího.
   Ondra z minulosti ;-)

    - Je to celkem fajn. Dik
    Ondra z budoucnosti ;-)
*/

img {
    width: 100%;
    height: 100%;
}

/* 2 COMMONLY USED THINGS   */

/* 2.1 Item position */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-center * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* TODO: tohle přidej k nav */
.always-on-top {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;

}


/* 2.2 Custom image bg */
.make-section-bg {
    pointer-events: none;
    user-select: none;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    /* ? Tady si nejsu jistý, jestli to sem patři. 
    Kdyžtak oprav
    Díky, Ondra (z minulosti ;-) )

    ! Nepatří. Opraveno. Díky, Ondra (z budoucnosti ;-)
    
    */
    /* height: 100%; */
}

.make-section-bg.to-right {
    right: 0;
    left: unset;
}

.make-section-bg.to-left {
    left: 0;
    right: unset;
}

.make-section-bg.stretch {
    width: 100vw !important;
    height: 100%;
}

/* img.make-section-bg.default {
    width: 100vw !important;
    height: auto;
} */


/* 2.3 Image filters */

.darken {
    filter: brightness(0.7);
}

.darken-more {
    filter: brightness(0.5);
}

/* 2.4 Padding */
/* TODO: - you can change those values: */
.padding-small {
    padding: 5px;
}

.padding {
    padding: 10px;
}

.padding-large {
    padding: 20px;
}

.horizontal-padding-small {
    padding-left: 5px;
    padding-right: 5px;
}

.horizontal-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.horizontal-padding-large {
    padding-left: 20px;
    padding-right: 20px;
}

.vertical-padding-small {
    padding-top: 5px;
    padding-bottom: 5px;
}

.vertical-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.vertical-padding-large {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* 2.6  Cards things */

.cards {
    display: flex;
    flex-wrap: wrap;
}





/* 3 PAGE LAYOUT */

/* 3.0 Page */
.main {
    display: flex;
    justify-content: space-between;
    /* width: 100vw; */
}


/* 3.1 Nav */
nav {
    display: grid;

}

nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* 3.2 Sections */
.sections {
    /* width: 100%; */
}

.sections>div {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}


.sections>div>.content {
    /* margin: 15px var(--padding-from-edge); */


    max-width: var(--main-part-width);

    /* ! Neodstraňuj, usnadníš si život */
    /* PS: díky, pomohlo ;-) */
    width: 100%;

    z-index: 10;
}

/* 4 TYPOGRAPHY */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(src/Fonts/g-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1rem * var(--font-multiplier));
    line-height: 1.5;
    font-weight: 400;

}

.icon-btn,
.g-icon {
    font-family: 'Material Icons';
    font-size: 1.5rem + var(--font-multiplier);

}

h1 {
    font-size: calc(2.5rem * var(--font-multiplier));
}

h2 {
    font-size: calc((2rem) * var(--font-multiplier))
}

h3 {
    font-size: calc((1.75rem) * var(--font-multiplier))
}

h4 {
    font-size: calc((1.5rem) * var(--font-multiplier))
}

h5 {
    font-size: calc((1.25rem) * var(--font-multiplier))
}

h6 {
    font-size: calc((1rem) * var(--font-multiplier))
}

p {
    font-size: calc((1rem) * var(--font-multiplier))
}


.responsive-heading {
    /* font-size: calc(2.5rem * var(--font-multiplier)); */

    font-size: calc((1.4rem + 3.3vw) * var(--font-multiplier));
    font-size: clamp(0.2rem, 1.4rem + 3.3vw, 5rem);

}

/* 5 DEFAULT COMPONENTS STYLING */

/* 5.1 Nav bar */
nav ul,
nav .right>* {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

nav .right>*>*,
nav .right>* {
    padding: 0 10px;
}





/* nav>.navbar {
        padding: 0 var(--padding-from-edge);
        height: 60px;
    } */

nav>.navbar.navbar-medium {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav>.navbar.navbar-large {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* nav>.banner {
    padding: 4px var(--padding-from-edge);
} */


nav .navbar.island {
    margin: 5px var(--padding-from-edge);
    padding: 5px 20px;
}


/* (Navbar) Dropdown */

/* .dropdown {} */


.dropdown-window {
    position: relative;
    z-index: 50;
    position: absolute;
    display: none;
    background-color: whitesmoke;
    padding: 15px;
}



/* Animation */
@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.dropdown:hover .dropdown-window {
    display: inherit;
    animation: dropdown 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.dropdown-window * {
    padding: 5px;
}


/* Navbar - drawer */
nav .drawer,
nav .drawer-fullscreen {
    padding-left: var(--padding-from-edge);
    padding-right: var(--padding-from-edge);
    flex-direction: column;
    align-items: flex-start;
    /* height: 0px !important; */
    display: none;
    overflow: hidden;
    background-color: aquamarine;


    transition: all 0.8s ease-in-out;

    transform-origin: top;

}

nav .drawer-fullscreen.opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;

}


nav .drawer-fullscreen.opened .drawer-content {
    padding-left: var(--padding-from-edge);
    padding-right: var(--padding-from-edge);
    height: 100%;
    max-height: calc(100vh - 200px);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}



nav .drawer-fullscreen>.icon-btn {
    position: fixed;
    top: 11px;
    right: 21px;

}



/* Animation */

@keyframes drawer {
    0% {
        /* height: 0; */
        /* scale so that it looks like height 0  */
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}


nav .drawer.opened {
    animation: drawer 0.3s ease-in-out;
    display: flex;
}

nav .drawer.closed {
    /* height: 0px !important; */
    animation: drawer 0.4s ease-in-out;

    height: 0px !important;
}




/* Buttons */

.icon-btn {
    background-color: transparent;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0 inherit;
    height: min-content;

    font-family: 'Material Icons';

    font-size: calc(1.55rem * var(--font-multiplier));
}

.icon-btn.small {
    font-size: calc(1.2rem * var(--font-multiplier));
}

.icon-btn.large {
    font-size: calc(2rem * var(--font-multiplier));
}


/* Carousel */
.carousel {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.carousel-small>* {
    height: 200px !important;
}

.carousel-medium>* {
    height: 400px !important;
}

.carousel-large>* {
    height: 600px !important;
}

.image-carousel img {
    width: auto;
    height: 100%;
    padding: 10px;
}

.carousel.with-labels::before,
.carousel.with-labels::after {

    content: "Besamel.css/143";
    position: absolute;
    top: 50%;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/* Cards */
/* Todo hvjhvuhvjvhjhviviv */
/* Tento popisek je na dvě věci >:O */
.no-wrap {
    flex-wrap: nowrap;
}

/* make the .cards responsive */
.cards>div {
    flex: 1 1 250px;
    margin: 10px;
    width: 200px;

    /* background-color: red; */
}


/* Accordion */
.accordion .accordion-item .accordion-header {
    cursor: pointer;
    width: 100%;
    border: 1px black solid;



    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    background-color: transparent;

}

.accordion .accordion-item .accordion-header::before

/* .accordion .accordion-item .accordion-header::after  */
    {
    font-family: 'Material Icons';
    content: 'expand_more';
    font-size: 2rem;
    height: 100%;

    transform: rotate(180deg);
    /* transform: rotate(0deg); */
}

.accordion-header::before {
    transform: rotate(0deg);
    /* transform: rotate(180deg); */
}

.accordion .accordion-item.closed .accordion-header::before,
.accordion .accordion-item.closed .accordion-header::after {
    transform: rotate(0deg);
    /* transform: rotate(180deg); */


}

.accordion-header::before,
.accordion-header::after {
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}





.accordion .accordion-item {
    transition: all 1s ease-in-out;
}

.accordion .accordion-item .accordion-content {
    overflow-y: hidden;
}

.accordion .accordion-item.closed .accordion-content {
    height: 0 !important;
}

/* 6 RESPONSIVNESS */

@media only screen and (max-width: 768px) {
    .m-hidden {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .pc-hidden {
        display: none !important;
    }
}




/* TODO! tohle vyaz*/

.cards>div {
    width: 250px !important;
    color: purple;
}


.hero {
    background-color: rgba(255, 0, 0, 0.295);
    height: 600px;
}


.cards-section {
    background-color: blue;
}

#a123 {
    border-radius: 2000px 0 0 2000px;
    width: 45%;
}

.navbar {
    background: linear-gradient(180deg, rgb(223, 135, 34) 0%, rgba(223, 135, 34, 0.726) 100%);
    padding-top: 15px;
    padding-bottom: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

}

.banner {
    background-color: rgba(231, 222, 91, 0.747);
}


footer {
    background-color: rgb(36, 146, 110);
    padding-left: var(--padding-from-edge);
    padding-right: var(--padding-from-edge);
}


footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



footer h3,
footer h4,
footer h5 {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

footer .icon {
    padding-right: 5px !important;
}

.accordion-section {
    background-color: dodgerblue;
}

.test {
    background-color: tomato;
    border: 1px solid black;
}


.sidebar-left,
.sidebar-right {
    width: 400px;


    display: flex;
    flex-direction: column;
    justify-content: center;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body,
.main>* {
    animation: fade-in 0.6s ease-out;

}